@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Emoji:wght@300..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
	background: #7b7b7b;
	color: #fff;
	font-family: "EB Garamond", "Times New Roman", Times, serif;
	font-size: 14pt;
}

nav a:link, nav a:visited {
	color: #000;
}
nav a:hover, nav a:active {
	color: #fc0;
}
nav .yesimonthepage {
	color: #fff;
	text-decoration: none;
}
nav {
	font-size: 32pt;
	font-weight: 700;
	font-family: Libre Franklin, "Arial Black", Helvetica, sans-serif;
	background: #7b7b7b;
	color: #000;
	display: block;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	padding: 4px;
}

.thumb {
	width: 128px;
}

.withatrail {
	text-shadow: 0.125vw 0.125vw 0px #000,
				0.25vw 0.25vw 0px #000,
				0.375vw 0.375vw 0px #000,
				0.5vw 0.5vw 0px #000,
				0.625vw 0.625vw 0px #000,
				0.75vw 0.75vw 0px #000,
				0.875vw 0.875vw 0px #000,
				1vw 1vw 0px #000,
				1.125vw 1.125vw 0px #000,
				1.25vw 1.25vw 0px #000,
				1.375vw 1.375vw 0px #000,
				1.5vw 1.5vw 0px #000,
				1.625vw 1.625vw 0px #000,
				1.75vw 1.75vw 0px #000,
				1.875vw 1.875vw 0px #000,
				2vw 2vw 0px #000,
				2.125vw 2.125vw 0px #000,
				2.25vw 2.25vw 0px #000,
				2.375vw 2.375vw 0px #000,
				2.5vw 2.5vw 0px #000,
				2.625vw 2.625vw 0px #000,
				2.75vw 2.75vw 0px #000,
				2.875vw 2.875vw 0px #000,
				3vw 3vw 0px #000;
}