html,body {
background:#333;
color: #fff;
}

main #list {
font-size: 16px;
font-weight: normal;
}

/* listings */

series {
	font-weight: 900;
}
name {
	font-weight: 600;
}
year {
	font-weight: 450;
}

a:link {
	color: #0ff;
}
a:visited {
	color: #0cc;
}
a:active {
	color: #f00;
}
.pixu, .pixu a:link, .pixu a:visited  { 
	color: #fc0 !important;
}

/* player */
video#yes {
	width: 100vw;
	height: 100vh;
}
body.player { 
	background: #000;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html, body {
		background: #000;
		color: #fff;
	}
}